deploy-test
# Кредо
firebase_key.json
encoded.txt
authorized_key.json
# Бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
# Покрытие тестов
*.out
*.coverprofile
*.hprof
profile.cov
coverage.*
# Переменные окружения
.env
# Настройки среды разработки
.idea/
.vscode/
# Системные файлы
.DS_Store
Thumbs.db